.donate-container{
     
    padding: 1rem 0;
}
.bannerBg{
    /* border: 1px solid red; */
    margin: auto;
    border-radius: 8px;
     height: 80vh;

}
.donate-text-container{
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.donate-text-container h1{
    /* border: 1px solid red; */
    
    padding: 5px;
}

@media (max-width:600px){
    .donate-text-container{
        font-size: 0.8rem;
        text-align: center;
    }
    
}