.banner-container {
  width: 100%;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e2ecd9;
}

.banner-container img {
  height: 80px;
  width: 80px;
}
.logoText {
  width: 100%;
  text-align: center;
}
.banner-container .logo {
  font-family: "Ultra", serif;
  font-size: 2.4rem;
  letter-spacing: 3px;
  color: #EF5B0C;
}
.banner-container .moving-text {
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(239, 91, 12);
  width: 100%;
  letter-spacing: 2px;
  text-shadow: 3px -1px 0px  rgb(239, 91, 12);
}
 
 

@media (max-width: 600px) {
  .banner-container img {
    height: 60px;
    width: 60px;
  }
  .banner-container .moving-text{
    font-size: 1.1rem;
  }
}
