#address-container {
  display: flex;
  justify-content: space-around;

  margin: auto;
  padding: 1rem;
  width: 50%;
}
.map-icon-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.map-icon-container div {
  display: flex;
  flex-direction: column;
}
.map-icon-container img {
  margin: auto;
}
.map-icon-container h3 {
  font-size: 2rem;
  padding: 0 5px;
  font-family: sans-serif;
}
.map-icon {
  height: 60px;
  width: 60px;
}
.location {
  font-size: 1.6rem;
}

.address-map {
  width: 500px;
  /* border: 1px solid red; */
  border-radius: 5px;
}
.google-map-container {
  width: 100%;
}
/** Social Media Style Start **/
 .footer{
  background-color: #162842;
  color: #fff;
 }
.social-media-contianer {
  text-align: center;
}
.social-media-contianer p {
  font-size: 1.5rem;
}
.social-media-icon {
  height: 50px;
  width: 50px;
  padding: 0.5rem;
}
.copyright-container {
  padding-top: 5px;
  padding-bottom: 1rem;
  font-size: 1rem;
  text-align: center;
}


@media (max-width: 600px) {
  #address-container {
    flex-wrap: wrap;
    width: 100%;
  }
  .address-map {
    width: 100%;
    height: 300px;
    padding: 5px;
  }
  .location {
    font-size: 1.3rem;
    padding: 5px;
  }

  .social-media-contianer p {
    font-size: 1.3rem;
  }
  .social-media-icon {
    margin: 0 5px;
  }
  .copyright-container {
    font-size: 16px;
  }
}
