@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Ultra&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  background-color: #CEE5D0;

}
.text-container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #CEE5D0;
}
.heading {
  color: #E04D01;
  font-size: 2rem;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  width: max-content;
  letter-spacing: 2px;
  border-bottom: 5px solid red;
  margin-bottom: 0.5rem;
  border-radius: 5px;
}
.text-container p {
  /* border: 1px solid red */
  padding: 0.5rem 2rem;
  width: 60%;
  font-size: 1.4rem;
  text-align: justify;
}
iframe {
  width: 50%;
  height: 400px;
  padding: 8px;
}

@media (max-width: 600px) {
  .text-container {
    width: 100%;
  }
  .heading {
    font-size: 1.3rem;
  }
  .text-container p {
    width: 100%;
    padding: 5px 10px;
    font-size: 1.3rem;
  }
  iframe {
    width: 100%;
  }
}
