@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Ultra&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #F9F9F9; */
}

.text-container {
  /* border: 1px solid red; */
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #F9F9F9;
}
.heading {
  color: orange;
  font-size: 2rem;
  margin: auto;
  text-align: center;

}
.text-container p {
  /* border: 1px solid red */
  padding: 0.5rem 2rem;
  width: 60%;
  font-size: 1.4rem;
  text-align: justify;
}
iframe{
  width: 50%;
  height: 400px;
  padding: 8px;
}

@media (max-width: 600px) {
  .text-container {
    width: 100%;
  }
  .heading{
    font-size: 1.5rem;
  }
  .text-container p {
    width: 100%;
    padding: 5px 10px;
    font-size: 1.3rem;
  }
  iframe{
    width: 100%;
  }
}
